#about-page 
  .author-box
    .author-img.touying
      img.no-lightbox(src='https://s2.loli.net/2022/11/12/YBMzJhbXEPprU87.webp')
    .image-dot
  p.p.center.logo.large å…³äºŽæˆ‘
  p.p.center.small ç”Ÿæ´»æ˜Žæœ—ï¼Œä¸‡ç‰©å¯çˆ±âœ¨
  .author-content
    .author-content-item.myInfoAndSayHello.touying
      .title1 ä½ å¥½ï¼Œå¾ˆé«˜å…´è®¤è¯†ä½ ðŸ‘‹
      .title2
        | æˆ‘å«
        span.inline-word æ™‹å¤©æ°
      .title1
        | æ˜¯ä¸€å èœçš„ä¸èƒ½åœ¨èœçš„é“æ†¨æ†¨ã€
        span.inline-word åšä¸»
    .aboutsiteTips.author-content-item.touying
      .author-content-item-tips è¿½æ±‚
      h2
        | ç¾Žå¥³
        br
        | æ— çˆ±
        span.inline-word å³ä½¿ç¥ž
        .mask
          span.first-tips é€†å¤©æ”¹å‘½
          |
          span ä¼—é‡Œå¯»ä»–
          |
          span(data-up) åƒç™¾åº¦
          |
          span(data-show) è“¦ç„¶å›žé¦–

  .hello-about.touying
    .cursor(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
    .shapes
      .shape.shape-1(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
      .shape.shape-2(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
      .shape.shape-3(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
    .content
      h1 æ€•å†·çˆ±ä¸Šé›ª

  .author-content
    .author-content-item.skills.touying
      .card-content
        .author-content-item-tips æŠ€èƒ½
        span.author-content-item-title å¼€å¯åˆ›é€ åŠ›
        .skills-style-group
          .tags-group-all
            .tags-group-wrapper
              each i in site.data.creativity
                - const evenNum = i.creativity_list.filter((x, index) => index % 2 === 0);
                - const oddNum = i.creativity_list.filter((x, index) => index % 2 === 1);
                each item, index in i.creativity_list
                  if ((index+1 <= evenNum.length) && (index+1 <= oddNum.length))
                    .tags-group-icon-pair
                      .tags-group-icon(style=`background: ${evenNum[index].color}`)
                        img.no-lightbox(title=evenNum[index].name, src=evenNum[index].icon)
                      .tags-group-icon(style=`background: ${oddNum[index].color}`)
                        img.no-lightbox(title=oddNum[index].name, src=oddNum[index].icon)
          .skills-list
            each i in site.data.creativity
              each item, index in i.creativity_list
                .skill-info
                  .skill-icon(style=`background: ${item.color}`)
                    img.no-lightbox(title=item.name, src=item.icon)
                  .skill-name
                    span=item.name
            .etc ...
    .author-content-item.careers.touying
      .card-content
        .author-content-item-tips ç”Ÿæ¶¯
        span.author-content-item-title æ— é™è¿›æ­¥
        .careers-group
          .careers-item
            .circle(style='background:#357ef5')
            .name å¿«å¦‚é—ªç”µ
        img.author-content-img.no-lightbox(alt='ç”Ÿæ¶¯', src='https://s2.loli.net/2022/11/12/mePc3rG9a72Ynvu.webp')

  .author-content
    .about-statistic.author-content-item.touying
      .card-content
        .author-content-item-tips å½’æ¡£
        span.author-content-item-title æ–‡ç« å½’æ¡£
        .post-tips
          | å¦‚æžœä¸Šå¤©ä¸ç»™æˆ‘æœºä¼š é‚£æˆ‘å°±è‡ªå·±åˆ›é€ æœºä¼š
        .banner-button-group
          a.banner-button(onclick='pjax.loadUrl("/archives/")', data-pjax-state)
            i.fas.fa-circle-arrow-up-right
            |
            span.banner-button-text æ–‡ç« éš§é“
    .author-content-item-group.column.mapAndInfo
      .author-content-item.map.single.touying
        span.map-title
          | æˆ‘çŽ°åœ¨ä½åœ¨
          b ä¸­å›½ï¼Œå¼ æŽ–å¸‚
      .author-content-item.selfInfo.single.touying
        div
          span.selfInfo-title ç”ŸäºŽ
          |
          span.selfInfo-content#selfInfo-content-year(style='color:#43a6c6') 1993
        div
          span.selfInfo-title ä¸ªäººçˆ±å¥½
          |
          span.selfInfo-content(style='color:#c69043') ç¼–ç¨‹è®¡ç®—æœº
        div
          span.selfInfo-title çŽ°åœ¨èŒä¸š
          |
          span.selfInfo-content(style='color:#b04fe6') æ— ä¸šæ¸¸æ°‘

  .author-content
    .author-content-item.personalities.touying
      .author-content-item-tips æ€§æ ¼
      span.author-content-item-title æ¸©æŸ”å¯çˆ±
      .title2(style='color:#ac899c') å¯çˆ±ä¸ªå±
      .post-tips
        | åœ¨äº†è§£
        a(href='https://4t.pw/', target='_blank', rel='noopener nofollow') æ›´å¤š
      .image
        img.no-lightbox(src='https://npm.elemecdn.com/anzhiyu-blog@2.0.8/img/svg/ESFJ-A.svg')
    .author-content-item.myphoto.touying
      img.author-content-img.no-lightbox(alt='è‡ªæ‹', src='https://s2.loli.net/2022/11/12/CxopIR6v87yXqeu.webp')
  .author-content
    .create-site-post.author-content-item.single.touying
      .author-content-item-tips å¿ƒè·¯åŽ†ç¨‹
      | æ¬¢è¿Žæ¥åˆ°æˆ‘çš„åšå®¢ ðŸ˜ï¼Œè¿™é‡Œæ˜¯æˆ‘è®°ç¬”è®°çš„åœ°æ–¹ ðŸ™Œï¼Œç›®å‰å°±è¯»äºŽé•¿æ²™
      .site-card-group
        a.site-card(target='_blank', href='https://v.douyin.com/rjwtY8V/', data-title='ç´«ç½—å…°çš„æ°¸æ’èŠ±å›­')
          .wrapper.cover
            img.cover.fadeIn(src='https://npm.elemecdn.com/anzhiyu-blog@1.1.6/img/post/common/violet.jpg')
          .info
            img.flink-avatar(src='https://s2.loli.net/2022/11/12/YBMzJhbXEPprU87.webp')
            span.site-title ç´«ç½—å…°çš„æ°¸æ’èŠ±å›­
      | å› ä¸ºè¿™éƒ¨ç•ªï¼Œ2018 å¹´çš„ä¸€ä¸ªå¤å¤©æˆ‘çœ‹å®Œä»¥åŽå¿ƒæƒ…ä¹…ä¹…ä¸èƒ½é‡Šæ€€ï¼Œä¸ºè–‡å°”èŽ‰ç‰¹ä¸Žçˆ±æ„Ÿåˆ°ä¸€ç§è¯´ä¸ä¸Šæ¥çš„å‘³é“ï¼Œå¤šå¹´ä»¥åŽåœ¨çœ‹è¿™éƒ¨ç•ªï¼Œæ‰æ˜Žç™½åŽŸæ¥è¿™å°±æ˜¯çˆ±ï¼Œå–œæ¬¢è¿™éƒ¨ç•ªä¸ä»…ä»…æ˜¯å› ä¸ºå®ƒåˆ¶ä½œçš„ç”¨å¿ƒï¼Œä¸è®ºæ˜¯äººç‰©ç»†èŠ‚è¿˜æ˜¯åœºæ™¯ç»†èŠ‚ï¼Œä¸ç®¡æ˜¯ op è¿˜æ˜¯ ed éƒ½éžå¸¸å¥½å¬ï¼Œæœ€åŽçš„ç»“å±€æˆ–è®¸æ‰æ˜¯è®©æˆ‘ä¸èƒ½å¿˜æ€€çš„åŽŸå› ï¼Œè–‡å°”èŽ‰ç‰¹ï¼Œå¸Œæœ›æ”¶åˆ°æ¥è‡ªå®¶äººï¼Œæœ‹å‹ï¼Œæ‹äººçš„é‚£å° "ä¿¡" ~

      
  .author-content
    .author-content-item.single.reward.touying
      .author-content-item-tips è‡´è°¢
      span.author-content-item-title èµžèµåå•
      .author-content-item-description æ„Ÿè°¢å› ä¸ºæœ‰ä½ ä»¬ï¼Œè®©æˆ‘æ›´åŠ æœ‰åˆ›ä½œçš„åŠ¨åŠ›ã€‚
        each i in site.data.reward
          - let rawData = [...i.reward_list]
          .reward-list-all
            - let reward_list_amount = i.reward_list.sort((a,b)=>b.amount -  a.amount)
            each item, index in reward_list_amount
              .reward-list-item.touying
                .reward-list-item-name=item.name
                .reward-list-bottom-group
                  if item.amount >= 50
                    .reward-list-item-money(style='background:var(--heo-pink)')=`Â¥${item.amount}`
                  else
                    .reward-list-item-money=`Â¥${item.amount + (item.suffix ? item.suffix : "")}`
                  .datatime.reward-list-item-time(datatime=item.datatime)=new Date(item.datatime).toISOString().slice(0, -14)
          .reward-list-updateDate
            | æœ€æ–°æ›´æ–°æ—¶é—´ï¼š
            time.datatime.reward-list-updateDate-time(datatime=rawData[0].datatime)=new Date(rawData[0].datatime).toISOString().slice(0, -14)

script(src=url_for(theme.CDN.option.countup_js))
script(src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/gsap/3.9.1/gsap.min.js")
script.
  (() => {
       var pursuitInterval = null;
      pursuitInterval = setInterval(function () {
        const show = document.querySelector('span[data-show]')
        const next = show.nextElementSibling || document.querySelector('.first-tips')
        const up = document.querySelector('span[data-up]')

        if (up) {
          up.removeAttribute('data-up')
        }

        show.removeAttribute('data-show')
        show.setAttribute('data-up', '')

        next.setAttribute('data-show', '')
      }, 2000)

      document.addEventListener('pjax:send', function(){
        clearInterval(pursuitInterval);
      });

      var helloAboutEl = document.querySelector('.hello-about')
      helloAboutEl.addEventListener("mousemove", evt => {
        const mouseX = evt.offsetX;
        const mouseY = evt.offsetY;
        gsap.set(".cursor", {
          x: mouseX,
          y: mouseY,
        })

        gsap.to(".shape", {
          x: mouseX,
          y: mouseY,
          stagger: -0.1
        })
      })
  })()
link(rel='stylesheet', href='/css/guanyu.css')
